
.container {text-align:center;
			font-family: 'ComicReliefRegular';}

.row1 {display: inline-block;
		}
.row6 {font-family: 'ComicReliefRegular';}

.albumnCover { 
	width:150px;
	height:150px;
}
h3 {
	font-size:28px;
}

h4 {

	font-size:26px;
	}
h5 {

	font-size:20px;
	text-align:center;
	}	

.tableHead {
	text-align:center;
}
th {background-color:gray;
	text-align: center;
}

#bandLink {font-weight:bold;
}
a{
	font-family:Comic sans ms;
	text-decoration: none;
}
a:link {
	color: green;
}
a:visited {
	color: darkred;
}
a:hover {
	text-decoration:underline;
	color:lime;
	background-color:blue;
}
tr {background-color:#E8E8E8;}
td {
	text-align: center;
	font-style:italic;
}
.track {
	font-weight:bolder;
}

	