body {
	background-color: #f5f5dc;
	margin:5px;
	font-family:Comic Sans ms, Georgia, Arial;
	font-size:14px;
}
#header {
		background-color: lightgray;
		margin:10px;
		height:75px;
		border-radius:5px;
}
#navbar ul{
		background-color: lightgray;
		padding:5px;
		list-style-type:none;
		list-align:left;
		margin:10px;
		height:30px;
		border-radius:5px;
}

#navbar ul li {
	display:inline;
}
#navbar ul li a {
		color:darkred;
		padding: 2em 1em;
}
#navbar ul li a:hover {
	color:lightgray;
	background-color:darkred;
}
#table1 tr td p{
		center;
		margin:35px;
		width: 350px;
}
#table2 tr td p{
		center;
		margin:35px;
		width: 350px;
}
#footer {
		background-color:lightgray;
		margin:10px;
		height:90px;	
		border-radius:5px;
}

h1 {color:darkred;
	font-size:40px;
	font-family: Comic Sans ms;
}

h4 {color:darkred;
	font-family:comic sans ms;
	font-size:20px;
}