.albumnCover { 
    background-image: url('siteImages/Album_cover.jpg');
	background-repeat: no-repeat;
    background-position: center; 	
	background-size: cover;
	height:200px;
	width:200px;
}
h3 {
	font-size:22px;
}

h4 {

	font-size:26px;
	}
h5 {

	font-size:16px;
	}	

th {background-color:gray;
}

	