 
body {
	background-color: #f5f5dc;
	margin:5px;
	font-family:Comic Sans ms, Georgia, Arial;
	font-size:14px;
}
#header {
		background-color: lightgray;
		margin:10px;
		height:75px;
		border-radius:5px;
}
#header { 
		font-family: 'ComicReliefRegular'; 
		font-weight: normal; 
		font-style: normal;
		font-size:40px;
		color:darkred;
		text-align: center;
		vertical-align: center;
		}
.container .jumbotron {
		margin:10px;	
		background-color: #00008B;
		color:lime;
}
.row2 {
		height:50px;
}
#navbar{
		font-family: 'ComicReliefRegular'; 
		background-color: lightgray;
		padding:1px;
		list-style-type:none;
		text-align:left center;
		margin:10px;
		height:50px;
		border-radius:5px;
		color:darkred;
		padding: 1em 1em;
		text-decoration: none;
}

a:link {
	color: darkred;
}
#navbar a:hover {
	color:lightgray;
	background-color:darkred;
}
a:active {font-weight:bold;}

#navbar a:visited {
	color: blue;
}
.col1 {text-align:center;}
.r3Col1 {text-align:center;}
.r3Col2 {text-align:center;}
.r3Col3 {text-align:center;}
.r4Col1 {text-align:center;}
.r4Col2 {text-align:center;}
.r4Col3 {text-align:center;}
.r6Col1 {text-align:center;}

.price {font-size:13px; font-style:strong; font-weight: bold; text-align:center;}

#bevLabel {font-size:18px; font-style:strong; font-weight-bolder; text-decoration:underline; text-align: center;}

.menuName {text-align:center; 
			font-size:18px; 
			font-style:strong; 
			font-weight:bolder; 
			text-decoration:underline;
			}		
.bevName {text-align:center; 
			font-size:18px; 
			font-style:strong; 
			font-weight:bolder; 
			text-decoration:underline;
			padding:15px;
}
.required {padding-top:5px;}
.text {padding-top:5px;}
.input {padding:10px;}
#footer {
		background-color:lightgray;
		margin:10px;
		height:75px;	
		border-radius:5px;
		font-family: 'ComicReliefRegular'; 
		font-weight: normal; 
		font-style: normal;
		font-size:20px;
		color:darkred;
		text-align: center;
		vertical-align: center;
		}
.form-check-inline
.brisket {text-align:center;}