.albumnCover { 
    background-image: url('siteImages/Album_cover.jpg');
	background-repeat: no-repeat;
    background-position: center; 	
	background-size: cover;
	height:200px;
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
h3 {
	font-size:28px;
}

h4 {

	font-size:26px;
	}
h5 {

	font-size:16px;
	}	

th {background-color:gray;
}
tr {background-color:#E8E8E8;}

#bandLink {
	font-weight:bold;
}
a{
	font-family: Comic sans ms;
	text-decoration: none;
	font-weight: none;
}
a:link {
	color: green;
}
a:visited {
	color: darkred;
}
a:hover {
	text-decoration:underline;
	color:lime;
	background-color:blue;
}

td {
	text-align: center;
	font-style:italic;
}
.track {
	font-weight:bolder;
}

	